@import url(forms.css);

body { background-color: #fff; font-family: Tahoma,Verdana,Arial,sans-serif; font-size: 11px; }

table#page { width: 800px; margin: 0 auto; }

a { text-decoration: none; margin-right: 2px; }
a:hover { text-decoration: underline; }
